.chatmes{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    max-width: 60%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    align-items: center;
}

.robot-message{
    background-color: white;
    color: black;
    align-self: flex-start;
    margin-bottom: 2px;
    justify-content: flex-start;
    border-radius: 10px 10px 10px 0;
}

.sender-message{
    background-color: #dcf8c6;
    color: black;
    align-self: flex-end;
    margin-bottom: 2px;
    justify-content: flex-end;
    border-radius: 10px 10px 0 10px ;
}

.robot-message img{
    padding-right: 10px;
}

.sender-message img{
    padding-left: 10px;
}